<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated probdist -->
      <package
            uri="http://www.mdsd.tools/probabilitydistributions/distributiontype"
            class="tools.mdsd.probdist.model.probdist.distributiontype.DistributiontypePackage"
            genModel="model/probdist.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated probdist -->
      <package
            uri="http://www.mdsd.tools/probabilitydistributions/distributionfunction"
            class="tools.mdsd.probdist.model.probdist.distributionfunction.DistributionfunctionPackage"
            genModel="model/probdist.genmodel"/>
   </extension>

</plugin>
