<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated probdist -->
      <package
            uri="http://www.mdsd.tools/probdist/distributiontype/1.0"
            class="tools.mdsd.probdist.distributiontype.DistributiontypePackage"
            genModel="model/probdist.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated probdist -->
      <package
            uri="http://www.mdsd.tools/probdist/distributionfunction/1.0"
            class="tools.mdsd.probdist.distributionfunction.DistributionfunctionPackage"
            genModel="model/probdist.genmodel"/>
   </extension>
</plugin>
